@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    }
  }

@layer utilities {

    
    .searchBar{
        @apply
        text-indigo-900
        border-2
        border-indigo-300
        bg-transparent
        relative
        rounded-full
        outline-none 
        ml-0
        tracking-[1px]
        pl-11
        w-12
        h-12
        duration-300
        cursor-pointer
        caret-indigo-900
    }

    .searchBar:focus {
        @apply
        pl-12
        w-80
        pr-4
        border-indigo-500
    }

    .userNavActive{
        @apply
        relative 
        ml-0
        font-bold
        text-2xl
        tracking-[1px]
        text-transparent 
        bg-clip-text 
        gradient
    }

    .userNav{
        @apply
        relative 
        ml-0
        font-bold
        tracking-[1px]
        text-transparent 
        bg-clip-text 
        hover:gradient 
        bg-indigo-500 
        focus:gradient
        focus:outline-none
    }

    .userNav::after {
        @apply
        content-['']
        bg-pink-500
        h-[4px]
        w-[0%]
        left-0
        -bottom-[7px]
        rounded-xl
        absolute
        duration-300
    }

     .userNav:hover::after {
        @apply
        w-[100%]
    } 

    .userNav:focus::after {
        @apply
        w-[100%]
    }
}

@layer components {
    .button {
        @apply
        mt-4 
        bg-indigo-400 
        text-white 
        rounded 
        p-4 
        shadow-lg 
        hover:bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500
    }

    .gradient{
        @apply
        bg-gradient-to-r 
        from-indigo-500 
        via-purple-500
        to-pink-500 
    }

    .gradient-100{
        @apply
        bg-gradient-to-r 
        from-indigo-100
        via-purple-100 
        to-pink-100
    }

    .gradient-200{
        @apply
        bg-gradient-to-r 
        from-indigo-200
        via-purple-200 
        to-pink-200
    }

    .button-buy{
        @apply
        text-2xl
        py-4 
        px-5
        w-full
        right-0
        absolute 
        text-transparent 
        transition-transform duration-300
        group-hover:text-pink-100
        group-hover:bg-pink-500/70
    }

    .button-sell{
        @apply
        text-2xl
        py-4 
        px-5
        w-full
        right-0
        absolute 
        text-transparent 
        transition-transform duration-300
        group-hover:text-pink-100
        group-hover:bg-cyan-600/70
    }

    .linkActive{
        @apply
        font-custom
        text-transparent 
        bg-clip-text 
        hover:gradient 
        gradient
        focus:gradient
        focus:outline-none
        text-2xl
    }
    
    .link{
        @apply
        font-custom
        text-transparent 
        bg-clip-text 
        hover:gradient 
        bg-indigo-500 
        focus:gradient
        focus:outline-none
        text-2xl
    }

    .errorForm{
        @apply
        border-red-500
        bg-red-100
    }

    .inputForm{
        @apply
        block 
        w-full 
        py-3 
        mb-3 
        p-4 
        rounded 
        focus:outline-none 
        border-2 
        border-indigo-200
        text-indigo-900 
        focus:border-pink-300 
        gradient-100
    }

    .inputFormInvalid{
        @apply
        block 
        w-full 
        py-3 
        mb-3 
        p-4 
        rounded 
        focus:outline-none 
        border-2 
        border-pink-400
        text-indigo-900 
        focus:border-pink-300 
        bg-pink-100
        placeholder:text-red-500
    }
        
  }