@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    }
  }

@layer utilities {
    .userNav{
        @apply
        relative 
        ml-0
        font-bold
        tracking-[1px]
        text-transparent 
        bg-clip-text 
        hover:gradient 
        bg-indigo-500 
        focus:gradient
    }

    .userNav::after {
        @apply
        content-['']
        bg-pink-500
        h-[4px]
        w-[0%]
        left-0
        -bottom-[7px]
        rounded-xl
        absolute
        duration-300
    }

    .userNav:hover::after {
        @apply
        w-[100%]
    }

    .userNav:focus::after {
        @apply
        w-[100%]
    }

    
}

@layer components {
    .button {
        @apply
        mt-4 
        bg-indigo-400 
        text-white 
        rounded 
        p-4 
        shadow-lg 
        hover:bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500
    }

    .gradient{
        @apply
        bg-gradient-to-r 
        from-indigo-500 
        via-purple-500
        to-pink-500 
        bg-indigo-500
    }

    .gradient-100{
        @apply
        bg-gradient-to-r 
        from-indigo-100
        via-purple-100 
        to-pink-100
    }

    .gradient-200{
        @apply
        bg-gradient-to-r 
        from-indigo-200
        via-purple-200 
        to-pink-200
    }

    .button-buy{
        @apply
        text-2xl
        py-4 
        px-5
        w-full
        right-0
        absolute 
        text-transparent 
        transition-transform duration-300
        group-hover:text-pink-100
        group-hover:bg-pink-500/70
    }

    .button-sell{
        @apply
        text-2xl
        py-4 
        px-5
        w-full
        right-0
        absolute 
        text-transparent 
        transition-transform duration-300
        group-hover:text-pink-100
        group-hover:bg-cyan-600/70
    }
  }